<h1>Edit_a_product</h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>

  <div>
    Name: <input type="name" name="name" value="<%= @product.name %>">
  </div>
  <div>
    Price: <input type="text" name="price" value="<%= @product.price %>">
  </div>
  <div>
    Description: <input type="text" name="description" value="<%= @product.description %>">
  </div>
  <div>
    Supplier_id: <input type="text" name="supplier_id" value="<%= @product.supplier_id %>">
  </div>
    <input type="submit" value="Update Product">
<% end %>